
extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                | It is website were you can see our products which we sell at retail prices with hight quality !     
            p        
                | THANK YOU VISIT AGAIN !!
            p
                | Contact : 8179172486,7675030804
            p
                | Location : Karimnagar

