extends layout

block content
  .row.banner
    .col-12
      p(style="text-align: center; font-family: 'Comic Sans MS', decorative fonts; font-size: 46px; color: #555; font-weight: bold; margin-top: 150px;") S³ - Sai Enterprises !
      p(style="text-align: center; font-family: 'Comic Sans MS', decorative fonts; font-size: 34px; color: #555;") One Stop Destination
