extends layout
block content
    style.
        .image-container {
            text-align: center; /* Center-align the text */
            padding: 20px; /* Add padding for spacing */
        }
        .image-container img {
            width: 100%; /* Ensure all images have the same width */
            max-height: 200px; /* Set a fixed height for the image containers */
            display: block;
            margin: 0 auto;
        }
        .image-container p {
            margin-top: 5px; /* Add some spacing between image and text */
        }
    .row.banner
        .col-12
            h1 ENGINE OILS 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/engine/purchase/new?unique_id=1894')
                            img.img-fluid.rounded(src='https://rukminim2.flixcart.com/image/850/1000/xif0q/vehicle-lubricant/8/0/y/-original-imagry6a5sczbfqz.jpeg?q=20')
                            .card-block
                                h2.card-title Castrol
                                p 
                                    | brand = Castrol
                                    br
                                    |   uniue_id = 1894
                                    br
                                    | name = car engine oil
                                    br
                                    | inStock = 50
                                    br
                                    |  volume = 100ml
                                    br 
                                    |  type = Synthetic 
                                    br
                                    |  price = 199.99
                .col-12.col-md-6           
                    .card-primary
                        a(href='/home/engine/purchase/new?unique_id=1895')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2021/8/JP/JP/JB/20565351/20w-40-mg-15l-diesel-engine-oil.jpg')
                            .card-block
                                h2.card-title Servo
                                p 
                                    | brand = servo
                                    br
                                    |   uniue_id = 1895
                                    br
                                    | name = bike  engine oil
                                    br
                                    | inStock = 50
                                    br
                                    |  volume = 100ml
                                    br 
                                    |  type = Synthetic 
                                    br
                                    |  price = 189.99
                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/engine/purchase/new?unique_id=1896')
                            img.img-fluid.rounded(src='https://m.media-amazon.com/images/I/71mKj8j0yYL.jpg')
                            .card-block
                                h2.card-title Mobil Super
                                p 
                                    | brand = Mobil Super
                                    br
                                    |   uniue_id = 1896
                                    br
                                    | name = car,bike engine oil
                                    br
                                    | inStock = 50
                                    br
                                    |  volume = 100ml
                                    br 
                                    |  type = Synthetic 
                                    br
                                    |  price = 159.99
                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/engine/purchase/new?unique_id=1897')
                            img.img-fluid.rounded(src='https://www.gscaltexindia.com/wp-content/uploads/2020/12/kixxpao1.jpg')
                            .card-block
                                h2.card-title GS Caltex 
                                p 
                                    | brand = GS Caltex
                                    br
                                    |   uniue_id = 1897
                                    br
                                    | name = car engine oil
                                    br
                                    | inStock = 50
                                    br
                                    |  volume = 100ml
                                    br 
                                    |  type = Synthetic 
                                    br
                                    |  price = 299.99
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/engine/purchase/new?unique_id=1898')
                            img.img-fluid.rounded(src='https://cdn.moglix.com/p/LbEtM6I7zVSM9-xxlarge.jpg')
                            .card-block
                                h2.card-title Motul
                                p 
                                    | brand = Motul
                                    br
                                    |   uniue_id = 1898
                                    br
                                    | name = bike engine oil
                                    br
                                    | inStock = 50
                                    br
                                    |  volume = 100ml
                                    br 
                                    |  type = Synthetic 
                                    br
                                    |  price = 179.99
                                

                    .card-primary
                        .card-block
                            a.btn.btn-primary.float-end(href='/home/engine/review/new') Add review

                    