extends layout
block content
    style.
        .image-container {
            text-align: center; /* Center-align the text */
            padding: 20px; /* Add padding for spacing */
        }
        .image-container img {
            width: 100%; /* Ensure all images have the same width */
            max-height: 200px; /* Set a fixed height for the image containers */
            display: block;
            margin: 0 auto;
        }
        .image-container p {
            margin-top: 5px; /* Add some spacing between image and text */
        }

    .row.banner
        .col-12
            h1 TYRES 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1884')
                            img.img-fluid.rounded(src='https://www.carpockets.co.ke/cdn/shop/articles/the-secret-numbers-on-your-tyres-and-what-they-mean-carpockets.jpg?v=1651473958', alt='MRf Tyres')
                            .card-block
                                h2.card-title Cars-Tyres
                                p
                                    |   brand = Apollo
                                    br
                                    |   uniue_id = 1884
                                    br
                                    |   name  = car tyres
                                    br
                                    |   type  = All-Season
                                    br
                                    |   size  = 225/60R16
                                    br
                                    |   speedRating = H
                                    br
                                    |   inStock = 10
                                    br 
                                    |   price  = 150
                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1885')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/KQ/EV/WD/SELLER-57230940/honda-city-car-tyre.jpg', alt='Honda City Tyres')
                            .card-block
                                h2.card-title Cars-Tyres
                                p
                                    |   brand = Ceat
                                    br
                                    |   uniue_id = 1885
                                    br
                                    |   name  = Ceat car tyres
                                    br
                                    |   type  = All-Season
                                    br
                                    |   size  = 225/60R16
                                    br
                                    |   speedRating = H
                                    br
                                    |   inStock = 20
                                    br 
                                    |   price  = 400

                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1886')
                            img.img-fluid.rounded(src='https://tyres.cardekho.com/news/wp-content/uploads/2019/11/tyre_560x420_560x420.jpg', alt='Some Other Tyres')
                            .card-block
                                h2.card-title Cars-Tyres
                                p
                                    |   brand = MRF
                                    br
                                    |   uniue_id = 1886
                                    br
                                    |   name  = MRF car tyres
                                    br
                                    |   type  = Winter
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = T
                                    br
                                    |   inStock = 15
                                    br 
                                    |   price  = 300
                                
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1887')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/HQ/WM/MY-23173829/mrf-bike-tyre.png', alt='MRF Bike Tyres')
                            .card-block
                                h2.card-title Bike-Tyres
                                p
                                    |   brand = MRF
                                    br
                                    |   uniue_id = 1887
                                    br
                                    |   name  = MRF bike tyres
                                    br
                                    |   type  = All Season
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = R
                                    br
                                    |   inStock = 16
                                    br 
                                    |   price  = 350

                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1888')
                            img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk5z1KHSVE5EOyEppLFJew8pKnuatgSmUNbg&usqp=CAU', alt='Yet Another Bike Tyre')
                            .card-block
                                h2.card-title Bike-Tyres
                                p
                                    |   brand = Ceat
                                    br
                                    |   unique_id = 1888
                                    br
                                    |   name  = Ceat bike tyres
                                    br
                                    |   type  = All Season
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = R
                                    br
                                    |   inStock = 16
                                    br 
                                    |   price  = 290
                
                    
                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1889')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/SELLER/Default/2023/4/300680076/MG/AO/LW/9177601/71xdmh3biml-sl1500--500x500.jpg', alt='Another Bike Tyre')
                            .card-block
                                h2.card-title Bike-Tyres
                                p
                                    |   brand = JK
                                    br
                                    |   uniue_id = 1889
                                    br
                                    |   name  = JK bike tyres
                                    br
                                    |   type  = Winter
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = R
                                    br
                                    |   inStock = 16
                                    br 
                                    |   price  = 300

                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1890')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/HU/HB/MY-4858935/forklift-tyre-500x500.jpg', alt='Forklift Tyres')
                            .card-block
                                h2.card-title Truck-Tyres 
                                p
                                    |   brand = Grader XL
                                    br
                                    |   uniue_id = 1890
                                    br
                                    |   name  = Grader XL truck tyres
                                    br
                                    |   type  = Winter
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = H
                                    br
                                    |   inStock = 20
                                    br 
                                    |   price  = 3000

                .col-12.col-md-6           
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1891')
                            img.img-fluid.rounded(src='https://5.imimg.com/data5/TK/LM/MY-4557027/mrf-truck-tyre-500x500.jpg', alt='MRF Truck Tyres')
                            .card-block
                                h2.card-title Truck-Tyres 
                                p
                                    |   brand = Apollo
                                    br
                                    |   uniue_id = 1891
                                    br
                                    |   name  = Apollo truck tyres
                                    br
                                    |   type  = All Season
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = H
                                    br
                                    |   inStock = 18
                                    br 
                                    |   price  = 3500
                            
                .col-12.col-md-6
                    .card-primary
                        a(href='/home/location/purchase/new?unique_id=1892')
                            img.img-fluid.rounded(src='https://cdn.moglix.com/p/Hm7aT0fKo5HyL-xxlarge.jpg', alt='Some Other Truck Tyres')
                            .card-block
                                h2.card-title Truck-Tyres 
                                p
                                    |   brand = MRF
                                    br
                                    |   uniue_id = 1892
                                    br
                                    |   name  = MRF truck tyres
                                    br
                                    |   type  = All Season
                                    br
                                    |   size  = 205/55R17
                                    br
                                    |   speedRating = H
                                    br
                                    |   inStock = 20
                                    br 
                                    |   price  = 3000
                
                    .card-primary
                        .card-block
                            a.btn.btn-primary.float-end(href='/home/location/review/new') Add review
                
                    